.post_item2 {
    width: 70%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.post_item2 img {
    min-width: 270px;
    width: 270px;
    height: 150px;
}

.post_item2 .post_content {
    margin-left: 20px;
}

.post_title {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}
