.post_container {
    max-width: 80%;
    margin: auto;
}

.post_container .post_header {
    padding: 20px;
    background-color: #03a45e;
    color: #f8f8f8;
}

.post_container .post_header span {
    font-size: 14px;
}

.post_container .post_header h1 {
    font-size: 32px;
    margin-top: 10px;
}

.post_container .description {
    padding: 30px;
}

.post_container .description p {
    font-size: 18px;
    line-height: 160%;
    color: #666666;
}

.post_container .description p a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    color: #03a45e;
    text-decoration: none;
}

.more_post {
    padding: 30px 0;
    border-top: solid 1px #666666;
}

.more_post p {
    font-size: 25px;
    color: #666666;
    font-weight: bold;
}