.navbar {
    display: flex;
    justify-content: space-around;
    color: #f8f8f8;
    list-style-type: none;
    margin: auto;
    width: 80%;
    padding: 0 10px;
    background-color: #03a45e;
    border-radius: 5px;
}

.navbar li {
    background-color: #03a45e;
    padding: 20px 0;
}

.navbar li .nav_link {
    text-decoration-line: none;
    background-color: #03a45e;
    color: #f8f8f8;
    text-transform: uppercase;
    font-size: 14px;
}

.active {
    border-bottom: solid 3px #f8f8f8;
    padding-bottom: 15px;
}

@media screen and (max-width: 640px) {
    .navbar {
        width: 100%;
        overflow: scroll;
        text-wrap: nowrap;
        justify-content: unset;
        box-sizing: border-box;
    }

    .navbar li {
        background-color: #03a45e;
        padding: 20px 10px;
    }
}
