.footer {
    background-color: #f8f8f8;
    padding: 30px 0;
}

.footer_container {
    display: flex;
    width: 80%;
    margin: auto;
}

.footer_container .footer_content {
    flex: 1 1 0;
}

.footer_container .footer_content img {
    width: 100px;
}

.footer_container .footer_content .nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_container .footer_content .nav a {
    font-size: 20px;
    text-decoration-line: none;
    color: #03a45e;
    font-weight: bold;
}

.title {
    font-size: 24px;
    font-weight: bold;
}


@media screen and (max-width: 640px) {
    .footer_container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .footer_container .footer_content {
        display: flex;

    }
    
    .footer_container .footer_content img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .footer_container .footer_content .title{
        font-size: 16px;
    }
}
